<% layout('layout/boilerplate.ejs') -%>

<body >
  <h3 class="mb-4 mt-4">Edit Listing</h3>

  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" >

    <!-- Title -->
    <div class="col-12 mb-2">
      <label for="title" class="form-label">Title</label>
      <input id="title" name="listing[title]" type="text" class="form-control wp-100" value="<%= listing.title %>" required>
        <div class="valid-feedback"> Title Looks good!</div>
      <div class="invalid-feedback"> Please enter the title!  </div>
    </div>

    <!-- Description -->
    <div class="col-12 mb-2">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" name="listing[description]" class="form-control" rows="4" required> <%= listing.description %></textarea>
        <div class="valid-feedback"> Description Looks good!</div>
      <div class="invalid-feedback"> Please enter the Description!  </div>
    </div>

    <!-- Image URL -->
    <div class="col-12 mb-2">
      <label for="image" class="form-label">Image URL</label>
      <input id="image" name="listing[image]" type="text" class="form-control" value="<%= listing.image %>" required>
         <div class="valid-feedback"> Image URL Looks good!</div>
      <div class="invalid-feedback"> Please enter the valid Image URL!  </div>
    </div>

    <div class="row ml-0 mr-0 mb-2">

    <!-- Price -->
    <div class="col-md-4">
      <label for="price" class="form-label">Price (PKR)</label>
      <input id="price" name="listing[price]" type="number" class="form-control" value="<%= listing.price %>" required>
         <div class="valid-feedback"> Price Looks good!</div>
      <div class="invalid-feedback"> Please enter the valid Price!  </div>
    </div>

    <!-- Country -->
    <div class="col-md-8">
      <label for="country" class="form-label">Country</label>
      <input id="country" name="listing[country]" type="text" class="form-control" value="<%= listing.country %>" required>
         <div class="valid-feedback"> Country Looks good!</div>
      <div class="invalid-feedback"> Please enter the Country!  </div>
    </div>

    </div>

    <!-- Location -->
    <div class="col-12 mb-2">
      <label for="location" class="form-label">Location</label>
      <input id="location" name="listing[location]" type="text" class="form-control" value="<%= listing.location %>" required>
         <div class="valid-feedback"> Location Looks good!</div>
      <div class="invalid-feedback"> Please enter the Location!  </div>
    </div>

    <!-- Submit Button -->
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-dark btn-pink">Update Listing</button>
    </div>

  </form>
</body>
